@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700;900&display=swap');

:root {
  --foreground-hex: #f7f7f7;
  --background-hex: #1a1a1a;
}

* {
  font-family: 'Prompt', sans-serif;
}

body {
  font-family: 'Prompt', sans-serif;
  color: var(--foreground-hex);
  background-color: var(--background-hex);
}

::-webkit-scrollbar {
  display: none;
}