@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

:root {
  --c5: #fff4fd;
  --c10: #ffe7fc;
  --c20: #ffcff9;
  --c30: #fea9f0;
  --c40: #fc76e3;
  --c50: #f342d1;
  --c60: #d722b1;
  --c70: #b3188f;
  --c80: #921674;
  --c90: #50103f;
}

body {
  background-color: var(--c10);
  color: var(--c90);
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--c70);
  font-family: 'Arial', 'sans-serif';
  font-weight: 900;
}

h1{
  font-size: 2rem;
}

.btn{
  background-color: var(--c90);
  color: var(--c5);
  border: none;
  transition: 0.2s;
  margin: 0px 5px;
}

.btn:hover{
  background-color: var(--c20);
  color: var(--c80);
}
