@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark1: #2a2b2a;
  --light1: #e8ddb5;
  --accent1: #52b2cf;
  --accent2: #7ee081;
  --accent3: #d7263d;
}

* {
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: var(--dark1);
}
