:root {
  --c5: #fff4fd;
  --c10: #ffe7fc;
  --c20: #ffcff9;
  --c30: #fea9f0;
  --c40: #fc76e3;
  --c50: #f342d1;
  --c60: #d722b1;
  --c70: #b3188f;
  --c80: #921674;
  --c90: #50103f;
}

body {
  background-color: var(--c10);
  color: var(--c90);
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 2rem;
  color: var(--c80);
}